@{ 
    Employee Employee = (Employee)ViewData["Employee"];
    string Title = (string)ViewData["Title"];
}

<div>
    <label style="font-weight:bold">@Title</label>
</div>
<div class="pt-2 mb-2 employee_form" style="overflow:auto">
    <table class="table table-bordered table-sm table-striped table-bordered">
        <thead>
            <tr style="background-color:azure">
                <td>Property</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td style="width: 100px">First Name*</td>
                <td>
                    <input type="hidden" id="employee_id" value="@Employee.EmployeeId" />
                    <input class="form-control-sm w-100" id="first_name" value="@Employee.FirstName" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td style="width: 100px">Last Name*</td>
                <td>
                    <input class="form-control-sm w-100" id="last_name" value="@Employee.LastName" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td style="width: 100px">Position*</td>
                <td>
                    <input class="form-control-sm w-100" id="position" value="@Employee.Position" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td style="width: 100px">Department*</td>
                <td>
                    <input class="form-control-sm w-100" id="department" value="@Employee.Department" autocomplete="off" list="departments" />
                    <datalist id="departments">
                        @foreach (var dept in Enum.GetValues(typeof(Department)))
                        {
                            <option value="@dept" />
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td style="width: 100px">Salary</td>
                <td>
                    <input class="form-control-sm w-100" id="salary" value="@Employee.Salary" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td style="width: 100px">Date Joined</td>
                <td>
                    <input class="form-control-sm w-100" id="date_joined" value="@(Employee.DateJoined == DateTime.MinValue ? DateTime.Now : Employee.DateJoined)" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td style="width: 100px">Last Changed</td>
                <td>
                    <input class="form-control-sm w-100" id="last_changed" value="@DateTime.Now" readonly="readonly" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align:right">

                    <button type="button" class="btn btn-sm btn-outline-primary employee-form-save" id="save_form">
                        <i class="fa fa-floppy-o" style="margin-right:5px"></i>
                        @(Employee.EmployeeId != 0? "Update" : "Create")
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-primary employee-form-close" id="close_form">
                        <i class="fa fa-close" style="margin-right:5px"></i>
                        Close
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>